.header {
    position: fixed;
    width: 100%;
    mix-blend-mode: difference;
    z-index: 1;
}

.navbar {
    padding: 1rem 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainNavbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.navLinks {
    padding: 1rem;
    color: white;
}