.name {
  /* font-family: 'Raleway', sans-serif; */
  /* font-family: 'Roboto Slab', serif; */
  /* font-family: 'Reggae One', cursive; */
  writing-mode: vertical-lr;
}

.scroll_parent {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-overflow-scrolling: touch;
  overflow: auto hidden;
  /* -ms-overflow-style: none; */
  scrollbar-width: thin;
}

.scroll_parent::-webkit-scrollbar {
  scrollbar-width: thin;
  /* display: none; */
  height: 4px;
}

.scroll_parent::-webkit-scrollbar-button {
  height: 14px;
}

.scroller {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: auto;
}

.scroll_card {
  flex: 0 0 auto;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
}

.about_only {
  background-color: #000;
}

.about_content {
  background-color: #fff;
}

.project_only {
  background-color: #000;
}

.project_one {
  background-color: #fff;
}

.project_two {
  background-color: #000;
}

.contact {
  background-color: #fff;
}